// Twitter Bootstrap for main styling
@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";
@import "timepicker.less";
@import "dungeon_icons.less";

.b{ font-weight: bold; }
.tr{ text-align: right; }
.gray{ color: #CCC; }
.small{
    font-size: 0.85em;
}

.table-search-toolbar{
    .searchbox{ 
        .pull-left; 
        padding-top: 0.6em;
        .form-search{
            margin-bottom: 0;
        }
    }
    .recordsbox{ 
        .pull-right; 
        padding-top: 1.4em;
    }
    .pagination{
        margin: 6px 0;
    }
}

.linkrow, .linkcol{
    cursor: pointer;
}

.linkrow:hover, .linkcol:hover{ 
    color: @blue; 
}

#headnav{
    background: black;
    
    #title_brand{ float: left; }
    
    .navbar-inner{
        background: none;
        border: 0;
        box-shadow: none;
    }
    
    blockquote{ font-size: 0.8em; margin-bottom: 0; margin-left: 15%; width: 80%; color: white; float: left; border-left: 0;}
}

#quotecontainer{
    margin-top: 40px;
    
}

#contentcontainer{
    min-height: 50em;
}

.comment{
    padding: 0.25em 0.5em;
    margin: 0.5em 0;
    border: 1px solid #EEE;
}

footer{
    border-top: 7px solid #000;
    background: #777777;
    color: #444;
    min-height: 10em;
    margin-top: 2em;
    a{
        color: white;
    }
}

#footer {
    text-align: left;
    margin: 40px 0;
}

h2 + .btn-group.pull-right {
    margin-top: 15px;
}

.pagination .records-count {
    display: block;
    color: #999;
}

a.tt{
    color: black;
}
