php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_value session.cookie_lifetime 86400
php_value session.gc_maxlifetime 86400

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) /index.php/$1 [L,QSA]
